<!DOCTYPE html>
<html>
<head>
    <title>BMI Records</title>
</head>
<body>
    <h1>User BMI Records</h1>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Name</th><th>Age</th><th>Height (m)</th><th>Weight (kg)</th><th>BMI</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
